* {
  box-sizing: border-box;
  /*color: grey;*/
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #efefef;
}

header {
  border: 1px solid;
  background-color: #882f8e;
  height:20vh;
  width: 100%;
  margin-bottom: 5%;
}

nav {
  margin-top: 5%;
  display:inline-block;

}

.lil-logos {
  width: 15px;
  height: 15px;
  /*margin: .1%;*/
}

.nav-items {
  display: inline-block;
  margin-top: 9%;
  color: yellow;
}
.views {
  float: right;
  margin: 5% 2%;
}

.button-logo {
  margin: 5% 2%;
}


.card-content {
  border: dotted #000;
  color: grey;
  margin-top: 30%;
  margin-left: 5%;
  overflow: all;
}


h1 {
  display:inline-block;
  margin-right:70%;
}

h2{
  margin: 0;
}

.intro-bio {
  color: #efefef;
}

h4{
  font-size: 2em;
  margin: 4px;
}

p {
  margin: 0 0 0 0;
}

.unbreak-logo {
  float: right;
  margin-top: 1%;
  width: 20%;
}

.logo {
  width: 75%;
  margin-top: 10%;
}

.card-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: .% 5% 5% 5%;
  
}

.card {
    background-repeat: no-repeat;
    background-color: #fff;
    color: #fff;
    height: 55%;
    width: 24%;
    display: inline-block;
    margin: .4%;
    text-align: left;
    box-shadow:  1px 1px 1px grey;

  }
    

.card:hover {
  filter: grayscale(.8);
    box-shadow:  1px 1px 1px grey;
  }
    
    /*http://css3.bradshawenterprises.com/flip/
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
    back-color: grey;*/
}

.button-logo {
    margin: 5% 5% 0;
}

.quote {
   /* border: solid;*/
   background-color: #efefef;
   width: 80%;
   align-self: center;
}

.card1 {
  background-image: url('Images/Kimmy.jpg');
  background-size: 120%; 
}

.card2 {
  background-image: url('Images/Lillian.jpg');
  background-size: 120%;
}

.card3 {
  background-image: url('Images/LEMONADING.jpg');
  background-size: 100%;
}

.card4 {
  background-image: url('Images/Jackie.jpg');
  /*background-image: url('cindy-card.jpeg');*/

  background-size: 130%;
}

.card5 {
  background-image: url('Images/donna-maria.jpeg');
  background-size: 100%;
}

.card6{
  background-image: url('Images/cindy-card.jpeg');
  background-size: 100%;
}

.card7 {
  background-image: url('Images/Gretchen-card.jpg');
  background-size: 100%;
}

.card8 {
  background-image: url('Images/KImmy-waynre.jpeg');
  background-size: 100%;
}

@media only screen and (max-width: 829px) {
header {

}

.logo {
  margin: 1%;
  width:75%;
}

header {
 height: 40vh;
}

ul  {
  display: none;
}
.unbreak-logo {
    width:90%;
  }

.card {
  width: 30%;
}
.button-logo {
    margin: 5% 2%;
    width: 20%;
}


@media only screen and (max-width: 555px) {
  .card {
    width: 49%;

}

.logo {
  margin: 1%;
  width: 90%;
}

header {
 height: 30vh;
}
article {
  
height: 210px;
 margin-top: 20%;
}

.unbreak-logo {
    width:100%;
  }

.button-logo {
  margin: 5% 2%;
  width: 20%;
}

ul  {
  display: none;
}



@media only screen and (max-width: 325px) {

ul {
  display: none;
}

 .card {
  width: 100%;
 }
.unbreak-logo {
    width:100%;
  }
 .logo {
  width: 100%;
 }
}